<%- include('../partials/header') %>
<main class="wrapper_song">
    <div class="singles">
        <p class="title"><%=data.title%></p>
        <p class="artist"><%=data.artist%></p>
        <p class="streams"><%=data.streams%></p>
    </div>
</main>
<%- include('../partials/footer') %>